.container {
    width: 1920px;
    /* max-width: 1920px; */
    margin: 0 auto;
    color: #fff;
}

legend {
    display: none;
}

select {
    appearance: none;
}

select option[value=""][disabled] {
    display: none;
}

body {
    overflow: hidden;
}

hr {
    background: #cdcdcd;
    height:1px;
    border:0;
}

.weather__wrap {
    background-image: url(../img/weather/bg/clear.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.weather__inner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

/* weather__left */
.weather__left {
    width: 70%;
    padding: 50px 50px;
}
.weather_title {
    font-size: 28px;
}
.weather__bottom {
    display: flex;
    align-items: end;
    position: absolute;
    bottom: 50px;
    left: 50px;
}
.weather__bottom .weather_temp {
    font-size: 150px;
    margin-right: 10px;
    text-shadow: 3px 6px 10px #111;
}
.weather__bottom .weather__region {
    font-size: 48px;
    margin-right: 30px;
    text-shadow: 3px 6px 10px #111;
}
.weather__bottom .weather__region .weather_time {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-top: 10px;
    text-shadow: 3px 6px 10px #111;
}
.weather__bottom .weather__desc {
}
.weather__bottom .weather__desc .weather_icon {
    width: 60px;
    filter: drop-shadow(3px 6px 10px #111);
}
.weather__bottom .weather__desc .weather_icon_desc {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-shadow: 3px 6px 10px #111;
    text-align: center;
}
.weather__pleaseSearch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column
}
.todaysweather {
    font-size: 80px;
    margin-right: 10px;
    text-shadow: 3px 6px 10px #111;
}
.todaysweather__desc {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-shadow: 3px 6px 10px #111;
    margin-top: 10px;
    padding-left: 5px;
}

/* weatger__right */
.weather__right {
    width: 30%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 50px 70px;
    overflow-y: scroll;
}
.weather__right fieldset {
    border-bottom: 1px solid #999;
    margin-bottom: 100px;
}

input {
    width: 100%;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 12px 0 12px 5px;
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #999;
    margin-bottom: 60px;
}

.selectBox {
    position: relative;
    width: 100%;
}
.selectBox .select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 12px 5px;
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 18px;
}
.selectBox .select option {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 18px;
}
.selectBox .icoArrow {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
    width: 24px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectBox .icoArrow img {
    width: 50%;
    transition: all 0.3s;
}

.selectBox .icoArrow img.rotate {
    transform: rotate(180deg);
}
/* .weather__right select {
    float: right;
    width: 25px;
    height: 25px;
    font-size: 16px;
    scale: 0.8;
    border: none;
    background: none;
    background-image: url(../img/select.svg);
    background-repeat: no-repeat;
    background-position: center center;
} */
.weather__right h3 {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 500;
}
.weather__right .tenday {
    margin-top: 60px;
    margin-bottom: 40px;
}

/* weatger__right > weather__ */
.weather__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.info__title {
    color: #cdcdcd;
    font-weight: 300;
}
.info__title li {
    margin-bottom: 30px;
    font-size: 18px;
}
.info__title li:last-child {
    margin-bottom: 0;
}

.info__data {
    text-align: right;
}
.info__data li {
    margin-bottom: 30px;
    font-size: 18px;
}
.info__data li:last-child {
    margin-bottom: 0;
}

/* weatger__right > weather__news */
.weather__day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.4);
}
.weather__day .weather_day_date {
    font-size: 18px;
    color: #cdcdcd;
    width: 70%;
    font-weight: 300;
}
.weather__day .weather_day_icon {
    width: 36px;
}
.weather__day .weather_day_temp {
    font-size: 18px;
    width: 25%;
    text-align: right;
}
